.user-table {
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
}
.user-table > img {
  border-radius: 50%;
  width: 15%;
  border: 1px solid #588ff4;
}
.page-link-c {
  color: #4e7dcb !important;
  background: #ffffff;
  /*pointer-events: none;*/
  position: relative;
}
.page-link-c.active {
  color: #dde9ff !important;
  background: #4e7dcb;
}
.pagination-c {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  padding-left: 0;
  list-style: none;
}
.radius-left {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.radius-right {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
