.user-table{
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
}
.user-table > img {
  border-radius: 50%;
  width: 15%;
  border: 1px solid #588FF4
}
.page-link-c{
  color: #4E7DCB !important;
  background: #FFFFFF;
  /*pointer-events: none;*/
  padding: 0.375rem 0.75rem;
  position: relative;
  display: block;
  border: 1px solid #dee2e6;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.page-link-c.active{
  color: #dde9ff !important;
  background: #4E7DCB;
}
.pagination-c{
  display: flex;
  padding-left: 0;
  list-style: none;
}
.radius-left{
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.radius-right{
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
